body{
    background-image:linear-gradient(rgba(224, 75, 21, 0.667),rgb(215, 202, 202));
    padding:150 px;
    margin-left:500px;
    font-size:40 px;
    font-size: larger;
}
table{
    margin: left 550px;
    margin-top:50 px;
    font-size: larger;
}




 
 



